* {
    font-family: 'Noto Serif Display', serif;
}

body {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgb(250, 172, 172));
}


/* -------------------Header------------------- */

#header {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    opacity: 1;
    transition: opacity 0.5s ease;
}

.header-link {
    display: block;
    margin-bottom: 15px; /* Adjust the spacing between stacked links */
    margin-left: 50px;
    color: black; /* Add desired link color */
    text-decoration: none;
}

.header-link:hover {
    color: rgb(214, 4, 4);
}


#main-title {
    padding-top: 50px;
    text-align: center; /* Align the title in the center */
    margin: 0; /* Remove any default margin */

    margin-right: 10%;
    font-size: 300%;
}

#henucci-font {
    font-family: 'Princess Sofia', cursive;
    font-size: 250%;
    margin-right: 3%;
}

#pizza-club-title-font {
    font-size: 80%; /* Adjust the size as needed */
}

#lower-title {
    text-align: center;
    margin-right: 10%;
}







/* -------------------Body------------------- */

#body {
    margin-top: 500px;
}

#about {
    margin-left: 15%;
}

#pizza-eaten {
    margin-left: 60%;
}

#organization {
    margin-left: 15%;
}

#join {
    margin-left: 60%;
}

.main-subsection {
    margin-bottom: 125px;
}
