<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display&family=Princess+Sofia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
    <title>Henucci Pizza Club</title>
</head>
<body>
    <div id="header">

        <div id="left-header">
            <a class="header-link" href = "/">Home</a>
            <a class="header-link" href="/pizzaeaten">Pizza We've Eaten</a>
            <a class="header-link" href="/organization">Club Organization</a>
            <a class="header-link" href="/join">Join the Club</a>
        </div>

        <div id="right-header">
            <h1 id="main-title"><span id="henucci-font">Henucci</span> Pizza Club</h1>
            <h3 id="lower-title">Salt Lake City, Utah - Established 2023</h3>
        </div>

    </div>

    <div id="body">
        <div class="main-subsection" id="about">
            <h1 class="subsection-header">About our club</h1>
            <h3>Gonna have a little write up</h3>
            <h3>And then maybe a photo or two here</h3>
        </div>
        <div class="main-subsection" id="pizza-eaten">
            <h1 class="subsection-header">Pizza we've eaten</h1>
            <h3>Este Pizza</h3>
            <h3>Litzas Pizza</h3>
            <h3>Brick's Corner</h3>
            <h3>Pizza Volta</h3>
            <h3>Settebello Pizzeria Napoletana</h3>
            <h3>Pizzeria Tasso</h3>
            <h3>Villaggio Pizzeria</h3>
        </div>
        <div class="main-subsection" id="organization">
            <h1 class="subsection-header">Club Organization</h1>
            <!-- add js to each one of these to make a popup bio about the person -->
            <h3>Lindsay Bianucci -- Co-Founder & Principle Italian</h3>
            <h3>Mitch Henline -- Co-Founder & President</h3>
            <h3>Jeff Cagle -- Pizzeria Liaison</h3>
            <h3>Claire Tanner -- Creative Director</h3>
        </div>
        <div class="main-subsection" id="join">
            <h1 class="subsection-header">How to join</h1>
            <h3>Requirements for membership:</h3>
            <h4>Attend three meetings in a row or five meetings total</h4>
            <h4>Be approved for membership by a majority of currernt members</h4>
            <h4>Have a passion for eating pizza</h4>
        </div>
    </div>
    


    <script src="static/script.js"></script>
</body>
</html>