<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Pizza we've eaten</title>
</head>
<body>
    <div id="header">
        <a href = "/">Home</a>
        <h1>Henucci Pizza Club</h1>
        <a href="/pizzaeaten">Pizza We've Eaten</a>
    </div>
    <div id="body">
        <h1>join us</h1>
    </div>



    <script src="static/script.js"></script>
</body>
</html>