<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Pizza we've eaten</title>
</head>
<body>
    <div id="header">

        <div id="left-header">
            <a class="header-link" href = "/">Home</a>
            <a class="header-link" href="/pizzaeaten">Pizza We've Eaten</a>
            <a class="header-link" href="/organization">Club Organization</a>
            <a class="header-link" href="/join">Join the Club</a>
        </div>

        <div id="right-header">
            <h1 id="main-title">Henucci Pizza Club</h1>
            <h3 id="lower-title">Salt Lake City, Utah - Established 2023</h3>
        </div>
        
    </div>

    <div id="body">
        <h1>join us</h1>
        <h2>Requirements for membership:</h2>
        <h3>Attend three meetings in a row or five meetings total</h3>
        <h3>Be approved for membership by a majority of currernt members</h3>
        <h3>Have a passion for eating pizza</h3>
    </div>



    <script src="static/script.js"></script>
</body>
</html>