<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/styles.css">
    <title>Organization</title>
</head>
<body>
    <div id="header">

        <div id="left-header">
            <a class="header-link" href = "/">Home</a>
            <a class="header-link" href="/pizzaeaten">Pizza We've Eaten</a>
            <a class="header-link" href="/organization">Club Organization</a>
            <a class="header-link" href="/join">Join the Club</a>
        </div>

        <div id="right-header">
            <h1 id="main-title"><span id="henucci-font">Henucci</span> Pizza Club</h1>
            <h3 id="lower-title">Salt Lake City, Utah - Established 2023</h3>
        </div>
        
    </div>

    <div id="body">
        <h1>Lindsay Bianucci -- Co-Founder</h1>
        <h1>Mitch Henline -- Co-Founder</h1>
        <h1>Jeff Cagle -- ????????</h1>
        <h1>Claire Tanner -- Creative Design</h1>
    </div>



    <script src="static/script.js"></script>
</body>
</html>