<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza we've eaten</title>
</head>
<body>
    <div id="header">
        <a href = "/">Home</a>
    </div>
    <div id="body">
        <h1>This is the pizza we've eaten</h1>
        <h3>Este Pizza</h3>
        <h3>Litzas Pizza</h3>
        <h3>Brick's Corner</h3>
        <h3>Pizza Volta</h3>
        <h3>Settebello Pizzeria Napoletana</h3>
        <h3>Pizzeria Tasso</h3>
    </div>
</body>
</html>